{% extends "base.html.twig" %}

{% block title %}SyTest - Form
{% endblock %}

{% block stylesheets %}
<!-- Latest compiled and minified CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
{% endblock %}

{% block body %}
<h2>{{formName}}</h2>
{% if msg is defined %}
<p style="color:red;">{{msg}}</p>
{% endif %}
<br>
{{ form(form) }}
<br>
<br>
<a class="button" href="{{ path("homepage") }}">Return To Homepage</a>
{% endblock %}