{% extends "base.html.twig" %}

{% block body %}
<a href="/add" class="button add-button">Add User</a>
<a href="/login" class="button add-button">Login</a>
{{ render(controller('AppBundle:Search:searchBar')) }}
{% if users %}
<table id="user-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Post Number</th>
            <th>Encoded Password</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for item in users %}
        <tr>
            <td>{{item.name}}</td>
            <td>{{item.postNumber}}</td>
            <td>{{item.password}}</td>
            <td class="options-width">
                <form action="{{ path("delete", {id: item.id}) }}"  method="POST">
                    <input type="hidden" name="_method" value="DELETE" />
                    <input type="submit" class="button red" value="Delete">
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p>No entries in the database.</p>
{% endif %}
{% if goHome is defined %}
<br>
<a class="button" href="{{ path("homepage") }}">Return To Homepage</a>
{% endif %}
{% endblock %}