.container {
    padding: 100px 0px 200px 0px;
    width: 90%;
    margin: auto;
}

.options-width {
    width: 64px;
}

.center-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

table {
    width: 100%;
}

td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: cadetblue;
    color: white;
    font-size: 18px;
}

.button {
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    background-color: cadetblue;
}

.add-button{
    margin: 4px;
}

.red {
    background-color: orangered;
}